<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semantische Suche in #RKIFiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <script src="/static/htmx-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Semantische Suche in <a href="https://x.com/hashtag/rkifiles" target="_blank">#RKIFiles</a></h1>

         <form id="search-form" hx-get="/search" hx-target="#results" hx-select="#search-results" hx-swap="innerHTML"
             >
            <div class="field-horizontal">
                <!-- <label for="query" style="color:black;">Suchtext</label> -->
                <div class="search-div">
                    <input type="text" id="query" name="query" placeholder="Suchtext..." required
                    {% if query %}
                    value="{{query}}"
                    {% endif %}
                    >
                    <button type="submit">Suchen</button>
                </div>
            </div>
            
            <div class="field-horizontal">
                <label for="dataset">Ordner:</label>
                <select id="dataset" name="dataset">
                    <option value="sitzungsprotokolle"
                        {% if dataset and dataset == "sitzungsprotokolle" %}
                            selected
                        {% endif %}
                    >Sitzungsprotokolle</option>
                    <option value="zusatzmaterial"
                        {% if dataset and dataset == "zusatzmaterial" %}
                            selected
                        {% endif %}
                    >Zusatzmaterial incl. Sitzungsprotokolle</option>
                </select>
            </div>
            
            <div class="field-horizontal slider-container">
                <label for="num_results">Anzahl Ergebnisse</label>
                <input type="range" id="num_results" name="num_results" min="1" max="500" 
                {% if num_results %}
                    value="{{ num_results }}"
                {% else %}
                    value="10"
                {% endif %}
                >
                <output id="num_results_output">
                {% if num_results %}
                    {{ num_results }}
                {% else %}
                    10
                {% endif %}
                </output>
            </div>
            
            <div class="field-horizontal slider-container">
                <label for="result_size">Textlänge pro Ergebnis (Zeichen):</label>
                <input type="range" id="result_size" name="result_size" min="20" max="1000" 
                {% if result_size %}
                    value="{{ result_size }}"
                {% else %}
                    value="500"
                {% endif %}
                >

                <output id="result_size_output">
                {% if result_size %}
                    {{ result_size }}
                {% else %}
                    500
                {% endif %}
                </output>
            </div>
        </form>

        <div id="loading">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="results" class="results-container results">
        {% include 'results.html' %}
    </div>
    <div class="footer">
        <div> &copy; 2024 <a href="https://x.com/renerocksai" target="_blank">@renerocksai</a></div>
        <a href="https://github.com/renerocksai/renerocksai.rki" target="_blank">
            <img src="{{ url_for('static', filename='github-mark.svg') }}" alt="GitHub" class="github-logo">
            rki-search on GitHub
        </a>
    </div>
    <script src="/static/startup.js"></script>
</body>
</html>
